<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <startAnalytics>
        <processor patch:before="processor[@type='Sitecore.Analytics.Pipelines.StartAnalytics.CheckPreconditions, Sitecore.Analytics']" type="Sitecore.Support.Analytics.Pipelines.StartAnalytics.ExcludeUrls, Sitecore.Support.147688">
          <startUrls hint="raw:AddStartUrl">
            <url path="/api/sitecore/" />
          </startUrls>
        </processor>
      </startAnalytics>
    </pipelines>
  </sitecore>
</configuration>